* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif';

}

@font-face {
    font-family: 'Neue Machina';
    src: url('../font/neue-nachina-regular.otf');
}

body {
    background-color: #000;
    color: #FFFFFF;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #FFFFFF;
    border-radius: 1rem;
}

.main::before {
    content: '';
    background: linear-gradient(337deg, rgb(2, 1, 58) 21%, rgb(11, 1, 26) 33%, rgb(0, 0, 0) 47%, rgb(0, 0, 0) 76%, rgb(26, 1, 46) 89%, rgb(7, 8, 90) 95%);
    transform: rotate(180deg);
    width: 140vw;
    height: 100vh;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }
}