.portfolio::-webkit-scrollbar {
    width: 12px;
}

.portfolio::-webkit-scrollbar-track {
    background-color: #f1e9e9;
    border-radius: 10px;
}

.portfolio::-webkit-scrollbar-thumb {
    background-color: #55569e;
    border-radius: 10px;
    border: 1px solid #f1e9e9;
}
